openapi: 3.0.0
info:
  version: 1.2.1
  title: Tidelift External Alignments Users API
  x-logo:
    url: /docs/assets/tidelift_logo.png
    altText: Tidelift
  license:
    name: Proprietary
servers:
- url: https://api.tidelift.com/external-api
security:
- BearerAuth:
  - user
  - project
  - organization
tags:
- name: Users
paths:
  /v1/{org_name}/users:
    get:
      x-rails-controller: organization#users
      summary: List all users for an organization
      operationId: listUsersForOrg
      x-tidelift-api-meta:
        product-area: management-api
        access-level: small
        visibility: public
      tags:
      - Users
      security:
      - BearerAuth:
        - user
      parameters:
      - $ref: '#/components/parameters/orgNameParam'
      responses:
        '200':
          description: A list of users in the organization
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                  - name
                  - email
                  - role
                  properties:
                    name:
                      type: string
                    email:
                      type: string
                    role:
                      type: string
        '403':
          $ref: '#/components/responses/403GroupUsers'
        '404':
          $ref: '#/components/responses/404Error'
components:
  schemas:
    StandardError:
      description: The standard error format
      type: object
      required:
      - error
      - message
      properties:
        error:
          type: string
          description: An error code representing the error
          example: an_error_code
        message:
          type: string
          description: A human-readable error message representing the error
          example: An error message.
        details:
          type: object
          description: An optional object with extra helpful details about the error.
          example:
            errors:
              name: is not a valid email.
  parameters:
    orgNameParam:
      in: path
      name: org_name
      required: true
      schema:
        type: string
        example: My-Company
      description: The name of the Organization.
  responses:
    404Error:
      description: Record Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    403GroupUsers:
      description: The user is not an admin of the organization or doesn't belong to the organization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
