{"openapi":"3.0.0","info":{"version":"1.2.1","title":"Tidelift External API","x-logo":{"url":"/docs/assets/tidelift_logo.png","altText":"Tidelift"},"license":{"name":"Proprietary"}},"servers":[{"url":"https://api.tidelift.com/external-api"}],"security":[{"BearerAuth":["user","project","organization"]}],"tags":[{"name":"Authentication","description":"A [Tidelift API key](https://docs.tidelift.com/article/79-api-authentication) is required for all endpoints. If a particular type of API key is required it will be noted on the path.\n\u003cSecurityDefinitions /\u003e\n"},{"name":"URLs","description":"* Team names in URLs may be specified with an org-type prefix, e.g. \"team/abc\" instead of \"abc\", or \"github/def\". If a prefix is omitted, the org-type is assumed to be \"team\".\n"},{"name":"Basic Examples","description":"* curl\n\n```\ncurl -H \"Accept: application/json\" \\\n     -H \"Authorization: bearer \u003cyour Tidelift API key\u003e\" \\\n     https://api.tidelift.com/external-api/v1/packages/pypi/urllib3\n```\n\nMore detailed examples can be found in [the Tidelift support documentation](https://support.tidelift.com/hc/en-us/articles/4406286633364-How-to-access-Tidelift-APIs#h_01H9TWCQQQ5033Q7DTP89BYC5H).\n"}],"paths":{"/v1/authcheck":{"get":{"x-rails-controller":"auth#check","summary":"Check if the given API key is valid.","operationId":"authCheck","x-tidelift-api-meta":{"product-area":"api","access-level":"small","visibility":"public"},"tags":["Authentication","Basic Examples"],"security":[{"BearerAuth":["user","project","organization"]}],"responses":{"200":{"description":"Valid API key","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["message"],"properties":{"message":{"type":"string"},"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","enum":["user","project","organization"]},"owner_id":{"type":"string"}}}}}},"401":{"$ref":"#/components/responses/401Error"}}}},"/v1/user/catalogs":{"get":{"x-rails-controller":"user#catalogs","summary":"List all catalogs and organizations for the user","operationId":"listCatalogsForUser","x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Catalogs"],"security":[{"BearerAuth":["user"]}],"responses":{"200":{"description":"A list of catalogs grouped by organization","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrganizationWithCatalogs"}}}}},"401":{"$ref":"#/components/responses/401Error"}}}},"/v1/user/catalogs/{org_name}":{"get":{"x-rails-controller":"user#catalogs","summary":"List all catalogs for a specific organization","operationId":"listCatalogsForUsersOrg","x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Catalogs"],"security":[{"BearerAuth":["user"]}],"parameters":[{"name":"org_name","in":"path","description":"Organization name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list of catalogs","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrganizationWithCatalogs"}}}}},"401":{"$ref":"#/components/responses/401Error"}}}},"/v1/{org_name}/catalogs":{"get":{"x-rails-controller":"organization#catalogs","summary":"List all catalogs for an organization","operationId":"listCatalogsForOrg","x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Catalogs"],"security":[{"BearerAuth":["org"]}],"parameters":[{"$ref":"#/components/parameters/orgNameParam"}],"responses":{"200":{"description":"A list of catalogs","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CatalogSummary"}}}}},"401":{"$ref":"#/components/responses/401Error"}}}},"/v1/{org_name}/catalogs/{catalog_name}/violations":{"get":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Catalogs"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"listViolationsForCatalog","x-rails-controller":"catalog#violations","summary":"Get all the violations for a catalog","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/catalogNameParam"},{"name":"projects[]","in":"query","required":false,"description":"Names of projects to filter by","schema":{"type":"array","items":{"type":"string"},"example":["my-project","my-other-project"]}},{"name":"catalog_standards[]","in":"query","required":false,"description":"Filter response to only violations associated with the specified catalog standards. When not provided, no filtering is applied.","schema":{"type":"array","items":{"type":"string"},"example":["deprecation","known_packages","up_to_date","vulnerabilities","allowed_licenses","identified_licenses"]}},{"name":"has_task","in":"query","required":false,"description":"Filter response to only violations that have an associated task (or not). When not provided, no filtering is applied.","schema":{"type":"boolean"}},{"name":"page","in":"query","description":"Page in results","schema":{"type":"number"}}],"responses":{"200":{"description":"Paginated list of violations for catalog","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginationEnvelope"},{"type":"object","additionalProperties":false,"required":["results"],"properties":{"results":{"$ref":"#/components/schemas/Violations"}}}]}}}},"404":{"description":"Catalog not found, Catalog Standard not found"},"401":{"$ref":"#/components/responses/401Error"}}}},"/v1/{org_name}/catalogs/{catalog_name}/violations/{violation_id}/overrides":{"get":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Catalogs"],"security":[{"BearerAuth":["user"]}],"operationId":"listViolationStatusOverrides","x-rails-controller":"violation_status_overrides#index","summary":"Gets all overrides for a violation","description":"Gets all overrides for a violation","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/catalogNameParam"},{"$ref":"#/components/parameters/violationIdParam"}],"responses":{"200":{"description":"A list of all overrides for the violation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViolationStatusOverride"}}}},"404":{"description":"404 Violation Not Found"}}},"post":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Catalogs"],"security":[{"BearerAuth":["user"]}],"operationId":"createViolationStatusOverride","x-rails-controller":"violation_status_overrides#create","summary":"Creates a status override for a violation","description":"Creates a status override for a violation. The override can be scoped to a package, a release, or neither","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/catalogNameParam"},{"$ref":"#/components/parameters/violationIdParam"},{"name":"platform","in":"query","description":"The platform of the package, when violation override is scoped to a package or release","required":false,"schema":{"type":"string"}},{"name":"package_name","in":"query","description":"The name of the package, when violation override is scoped to a package or release","required":false,"schema":{"type":"string"}},{"name":"version","in":"query","description":"The version of the package, when violation override is scoped to a release","required":false,"schema":{"type":"string"}},{"name":"note","in":"query","description":"A note that describes the reasoning for the violation override","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"The status that the override will apply to affected releases.","required":true,"schema":{"type":"string","enum":["approved","denied"]},"example":"approved"}],"responses":{"201":{"description":"A response indicating the successful creation of the violation status override","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViolationStatusOverrideId"}}}},"400":{"description":"Invalid parameters"},"401":{"$ref":"#/components/responses/401Error"}}}},"/v1/{org_name}/catalogs/{catalog_name}/violations/{violation_id}/overrides/{violation_status_override_id}":{"delete":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Catalogs"],"security":[{"BearerAuth":["user"]}],"operationId":"deleteViolationStatusOverride","x-rails-controller":"violation_status_overrides#destroy","summary":"Deletes a violation status override by ID","description":"Deletes a violation status override by ID","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/catalogNameParam"},{"$ref":"#/components/parameters/violationIdParam"},{"$ref":"#/components/parameters/violationStatusOverrideIdParam"}],"responses":{"200":{"description":"A response indicating the successful deletion of the violation status override","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViolationStatusOverrideId"}}}},"404":{"description":"The Violation status override was not found"}}}},"/v1/{org_name}/catalogs/{catalog_name}/blocked_items":{"get":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Catalogs"],"security":[{"BearerAuth":["user"]}],"operationId":"listCatalogBlockedItems","x-rails-controller":"catalog_blocked_items#index","summary":"Gets all of a catalog's blocked items","description":"Gets all of a catalog's blocked items","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/catalogNameParam"},{"name":"page","in":"query","description":"Page in results","schema":{"type":"number"}},{"name":"per_page","in":"query","description":"Number of results per page","schema":{"type":"number"}}],"responses":{"200":{"description":"A list of a catalog's blocked items","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginationEnvelope"},{"type":"object","additionalProperties":false,"required":["results"],"properties":{"results":{"type":"array","items":{"type":"object","required":["id","platform","name","version","reason","created_by","created_at"],"properties":{"id":{"type":"string"},"platform":{"type":"string"},"name":{"type":"string"},"version":{"type":"string","nullable":true},"reason":{"type":"string","description":"Notes describing why an item was added to the blocked list"},"created_by":{"type":"string","description":"The user that added the item to the blocked list"},"created_at":{"type":"string","format":"date","description":"When the item was added to the blocked list"}}}}}}]}}}},"400":{"description":"Invalid parameters"},"403":{"$ref":"#/components/responses/403GroupUsers"},"404":{"description":"Catalog or organization not found"}}},"post":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Catalogs"],"security":[{"BearerAuth":["user"]}],"operationId":"createCatalogBlockedItems","x-rails-controller":"catalog_blocked_items#create","summary":"Create catalog blocked items from a version range","description":"Create catalog blocked items from a version range","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/catalogNameParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"platform":{"type":"string"},"name":{"type":"string"},"version_low":{"type":"string","nullable":true,"description":"The version low"},"version_high":{"type":"string","nullable":true,"description":"The version high"},"reason":{"type":"string","description":"Notes describing why the item was added to the blocked list"}},"required":["platform","name","reason"]}}}},"responses":{"201":{"description":"A response indicating the successful creation of a catalog blocked item","content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"}}}}}}},"400":{"description":"Invalid parameters"},"403":{"$ref":"#/components/responses/403GroupUsers"},"404":{"description":"Catalog or organization not found"}}}},"/v1/{org_name}/catalogs/{catalog_name}/blocked_items/{catalog_blocked_item_id}":{"delete":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Catalogs"],"security":[{"BearerAuth":["user"]}],"operationId":"deleteCatalogBlockedItems","x-rails-controller":"catalog_blocked_items#destroy","summary":"Deletes a catalog blocked item by ID","description":"Deletes a catalog blocked item by ID","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/catalogNameParam"},{"$ref":"#/components/parameters/catalogBlockedItemIdParam"}],"responses":{"200":{"description":"A response indicating the successful deletion of the catalog blocked item","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogBlockedItemId"}}}},"401":{"$ref":"#/components/responses/401Error"},"403":{"$ref":"#/components/responses/403GroupUsers"},"404":{"description":"Catalog, organization, or catalog blocked item not found"}}}},"/v1/{org_name}/projects":{"get":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Projects"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"listProjects","x-rails-controller":"projects#index","summary":"List organization projects","parameters":[{"$ref":"#/components/parameters/orgNameParam"}],"responses":{"200":{"description":"A list of projects in the Organization","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["projects"],"properties":{"projects":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/Project"},{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","description":"When the project was created"}}}]}}}}}}},"401":{"$ref":"#/components/responses/401Error"}}},"post":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Projects"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"createProject","x-rails-controller":"projects#create","summary":"Create a new project","parameters":[{"$ref":"#/components/parameters/orgNameParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"groups":{"type":"array","description":"List of group slugs or names to associate the project with","items":{"type":"string"}},"catalog":{"type":"string","description":"Catalog to align to. Required if mulitple catalogs are in use"},"project_name":{"type":"string"},"default_branch":{"type":"string"},"external_identifier":{"type":"string","description":"An optional custom identifier that can be set that corresponds to something outside of Tidelift"}},"required":["project_name"]}}}},"responses":{"201":{"description":"Project that was created","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Project"},{"type":"object","additionalProperties":false,"required":["using_catalog","dot_tidelift"],"properties":{"using_catalog":{"type":"string","nullable":true},"dot_tidelift":{"type":"string"}}}]}}}},"400":{"description":"The project name, external identifier, branch name, groups or catalog are invalid.","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"available_catalogs":{"type":"array","deprecated":true,"items":{"type":"string"}},"details":{"type":"object","properties":{"available_catalogs":{"type":"array","items":{"type":"string"}}}}}}}}},"401":{"$ref":"#/components/responses/401Error"},"403":{"$ref":"#/components/responses/403GroupUsers"}}}},"/v1/{org_name}/projects/{project}":{"delete":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Projects"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"deleteProject","x-rails-controller":"projects#destroy","summary":"Delete a project.","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/projectParam"}],"responses":{"200":{"description":"The project is deleted"},"403":{"$ref":"#/components/responses/403GroupUsers"}}},"post":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Projects"],"security":[{"BearerAuth":["user","project","organization"]}],"operationId":"updateProject","x-rails-controller":"projects#update","summary":"Update project details","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/projectParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Project"},{"type":"object","additionalProperties":false,"required":["catalog"],"properties":{"catalog":{"type":"string","nullable":true}}}]}}}},"responses":{"200":{"description":"Successfully updated project details"},"401":{"$ref":"#/components/responses/401Error"},"403":{"$ref":"#/components/responses/403GroupUsers"},"404":{"description":"Invalid catalog or groups sent"}}}},"/v1/{org_name}/projects/{project}/new-key":{"post":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Projects"],"security":[{"BearerAuth":["user","project","organization"]}],"operationId":"createProjectKey","x-rails-controller":"projects#create_project_key","summary":"Create a new project API key","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/projectParam"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of the key being created"}}}}}},"responses":{"201":{"description":"The token generated for the key","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["key"],"properties":{"key":{"type":"string","description":"The token assigned to the created key"}}}}}},"401":{"$ref":"#/components/responses/401Error"}}}},"/v1/{org_name}/projects/import-sbom":{"post":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Projects","Attestations"],"security":[{"BearerAuth":["user","project","organization"]}],"operationId":"importSbomProject","x-rails-controller":"projects#import_sbom","summary":"Create a new project with an initial scan, using the provided SBOM file as the manifest.","parameters":[{"$ref":"#/components/parameters/orgNameParam"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"An SBOM file of type: SPDX tag/value, CycloneDX JSON or CycloneDX XML."},"project_name":{"type":"string","description":"Can be used to set project name if a name is not detected in the SBOM file."},"groups":{"type":"array","description":"List of group slugs or names to associate the project with","items":{"type":"string"}},"catalog":{"type":"string","description":"Catalog to align to. Required if mulitple catalogs are in use"}},"required":["file"]}}}},"responses":{"201":{"description":"Project that was created","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Project"},{"type":"object","additionalProperties":false,"properties":{"using_catalog":{"type":"string","nullable":true},"dot_tidelift":{"type":"string"},"attestation_report_url":{"type":"string"}}}]}}}},"400":{"description":"The project name, groups, catalog or SBOM file are invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"401":{"$ref":"#/components/responses/401Error"},"403":{"$ref":"#/components/responses/403GroupUsers"}}}},"/v1/{org_name}/projects/{project}/attestation-report":{"get":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Projects","Attestations"],"security":[{"BearerAuth":["user","project","organization"]}],"operationId":"getAttestationReport","x-rails-controller":"projects#attestation_report","summary":"Get the TACOS-formatted attestation report for packages used in a project","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/projectParam"},{"name":"revision","required":false,"in":"query","description":"sha revision of the project scan for which to download the attestation report (if not provided will use the latest scan of the project's default branch)","schema":{"type":"string"}}],"responses":{"200":{"description":"The attestation report","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["@id","location","author","role","LastModifiedDateTimeUTC","TACOSversion","application","statements"],"properties":{"@id":{"type":"string","description":"the TACOS framework URL (https://github.com/tacosframework)"},"location":{"type":"string","description":"URL of this attestation report"},"author":{"type":"string","description":"the author of the report (Tidelift Support)"},"role":{"type":"string","description":"the role of the author (Attestor)"},"LastModifiedDateTimeUTC":{"type":"string","description":"timestamp of the report's creation"},"TACOSversion":{"type":"string","description":"the version of TACOS used to generate the report"},"application":{"type":"string","description":"the name of the project for which the report was generated"},"statements":{"type":"array","items":{"type":"object","description":"a hash of TACOS statements (https://github.com/tacosframework/TACOS-spec) and their values at time of report generation"}}}}}}},"400":{"description":"project not found, or scan not found, or attestation report not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"401":{"$ref":"#/components/responses/401Error"}}}},"/v1/{org_name}/catalogs/{catalog_name}/releases":{"get":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Catalog Releases"],"security":[{"BearerAuth":["user","project","organization"]}],"operationId":"listReleases","x-rails-controller":"catalog#releases","summary":"List all releases in a catalog","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/catalogNameParam"},{"name":"page","in":"query","description":"Page in results","schema":{"type":"number"}},{"name":"per_page","in":"query","description":"Number of results per page","schema":{"type":"number"}},{"name":"id","in":"query","description":"id","schema":{"type":"string"}},{"name":"status","in":"query","description":"Status","schema":{"type":"string"}},{"name":"filter","in":"query","description":"Filter releases","style":"deepObject","explode":true,"schema":{"type":"object","properties":{"platform":{"description":"By platform","type":"string"},"name":{"description":"By name","type":"string"}}}}],"responses":{"200":{"description":"Returns paginated catalog releases","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginationEnvelope"},{"type":"object","additionalProperties":false,"required":["results","platforms"],"properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/CatalogReleaseGroup"}},"platforms":{"type":"array","items":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"integer"}]}}}}}]}}}},"401":{"$ref":"#/components/responses/401Error"}}}},"/v1/{org_name}/catalogs/{catalog_name}/reports/{report_type}":{"get":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Catalogs"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"latestCatalogReport","x-rails-controller":"catalog_reports#latest","summary":"Get the latest catalog report","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/catalogNameParam"},{"$ref":"#/components/parameters/reportTypeParam"}],"responses":{"200":{"description":"Returns latest catalog report JSON","content":{"application/json":{"schema":{"type":"object","properties":{"report_type":{"$ref":"#/components/schemas/ReportTypes"},"catalog_id":{"type":"string"},"created_at":{"type":"string"},"report":{"type":"array","items":{"anyOf":[{"$ref":"#/components/schemas/ReleaseUsageReport"},{"$ref":"#/components/schemas/LicenseAttributionReport"},{"$ref":"#/components/schemas/AllProjectsComplianceReport"},{"$ref":"#/components/schemas/AllProjectsViolationsReport"},{"$ref":"#/components/schemas/AllProjectsPackageQualityReport"},{"$ref":"#/components/schemas/CatalogActivityAuditReport"},{"$ref":"#/components/schemas/EOLImpactReport"}]}}}}}}},"204":{"description":"No report has been generated yet."},"404":{"description":"Multiple catalogs found, please specify one."}}}},"/v1/{org_name}/reports/{report_type}":{"get":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Reports"],"security":[{"BearerAuth":["user","project","organization"]}],"operationId":"latestReport","x-rails-controller":"reports_streaming#latest","summary":"Get the latest report","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"name":"catalog_name","in":"query","required":false,"description":"Name of catalog used to generate the report. A catalog or project is needed if a report ID was not provided.","schema":{"type":"string","example":"default"}},{"name":"report_id","in":"query","required":false,"description":"ID of the generated report","schema":{"type":"string","example":"12345-ABCDE"}},{"name":"projects[]","in":"query","required":false,"description":"Names of projects to filter by. Currently only used for the following reports:\n\n* all_projects_compliance\n* all_projects_package_quality\n* all_projects_violations\n* license_attribution\n* release_usage\n","schema":{"type":"array","items":{"type":"string"},"example":["my-project","my-other-project"]}},{"$ref":"#/components/parameters/reportTypeParam"},{"name":"catalog_standards[]","in":"query","required":false,"description":"Catalog Standards to filter by (only supported by all_projects_violations)","schema":{"type":"array","items":{"type":"string"},"example":["deprecation","known_packages","up_to_date","vulnerabilities","allowed_licenses","identified_licenses"]}}],"responses":{"200":{"description":"Returns latest catalog report JSON","content":{"application/json":{"schema":{"type":"object","properties":{"report_type":{"$ref":"#/components/schemas/ReportTypes"},"catalog_id":{"type":"string"},"created_at":{"type":"string"},"report":{"type":"array","items":{"anyOf":[{"$ref":"#/components/schemas/ReleaseUsageReport"},{"$ref":"#/components/schemas/LicenseAttributionReport"},{"$ref":"#/components/schemas/AllProjectsComplianceReport"},{"$ref":"#/components/schemas/AllProjectsViolationsReport"},{"$ref":"#/components/schemas/AllProjectsPackageQualityReport"},{"$ref":"#/components/schemas/CatalogActivityAuditReport"},{"$ref":"#/components/schemas/EOLImpactReport"}]}}}}}}},"400":{"description":"Parameters specified are not correct or the report file is not found. A catalog or list of Projects is required.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"401":{"description":"Parameters specified are not correct or API key does not have access to the Organization, Catalog, or all the Projects specifie. Must provide either a catalog, a list of projects, or a report ID."}}}},"/v1/{org_name}/reports/{report_type}/status":{"get":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Reports"],"security":[{"BearerAuth":["user","project","organization"]}],"operationId":"reportStatus","x-rails-controller":"reports#status","summary":"Get the status of a report","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"name":"catalog_name","in":"query","required":false,"description":"Name of catalog used to generate the report.  A catalog or project is needed if a report ID was not provided.","schema":{"type":"string","example":"default"}},{"name":"report_id","in":"query","required":false,"description":"ID of the generated report","schema":{"type":"string","example":"12345-ABCDE"}},{"name":"projects[]","in":"query","required":false,"description":"Names of projects to filter by. Currently only used for the following reports:\n\n* all_projects_compliance\n* all_projects_package_quality\n* all_projects_violations\n* license_attribution\n* release_usage\n","schema":{"type":"array","items":{"type":"string"},"example":["my-project","my-other-project"]}},{"name":"catalog_standards[]","in":"query","required":false,"description":"Catalog Standards to filter by (only supported by all_projects_violations)","schema":{"type":"array","items":{"type":"string"},"example":["deprecation","known_packages","up_to_date","vulnerabilities","allowed_licenses","identified_licenses"]}},{"$ref":"#/components/parameters/reportTypeParam"}],"responses":{"200":{"description":"Returns latest catalog report JSON","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["report_id","status"],"properties":{"report_id":{"type":"string"},"status":{"type":"string"}}}}}},"401":{"description":"Parameters specified are not correct or API key does not have access to the Organization, Catalog, or all the Projects specifie. Must provide either a catalog, a list of projects, or a report ID."},"400":{"description":"Report with parameters not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/v1/{org_name}/reports/{report_type}/generate":{"post":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Reports"],"security":[{"BearerAuth":["user","project","organization"]}],"operationId":"generateReport","x-rails-controller":"reports#generate","summary":"Run a new report","description":"Note that organization and catalog wide reports are generated daily for subscribers and so should not need to be manually generated and you can instead just retrieve the most recent report.","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"name":"catalog_name","in":"query","required":false,"description":"Name of catalog used to generate the report.","schema":{"type":"string","example":"default"}},{"name":"projects[]","in":"query","required":false,"description":"Names of projects to filter by. Currently only used for the following reports:\n\n* all_projects_compliance\n* all_projects_package_quality\n* all_projects_violations\n* license_attribution\n* release_usage\n","schema":{"type":"array","items":{"type":"string"},"example":["my-project","my-other-project"]}},{"name":"catalog_standards[]","in":"query","required":false,"description":"Catalog Standards to filter by (only supported by all_projects_violations)","schema":{"type":"array","items":{"type":"string"},"example":["deprecation","known_packages","up_to_date","vulnerabilities","allowed_licenses","identified_licenses"]}},{"$ref":"#/components/parameters/reportTypeParam"}],"responses":{"200":{"description":"Returns latest catalog report JSON","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["report_id","status"],"properties":{"report_id":{"type":"string"},"status":{"type":"string"}}}}}},"400":{"description":"Parameters specified are not correct. A catalog or list of Projects is required.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"401":{"description":"API key does not have access to the Organization, Catalog, or one of the Projects specified."}}}},"/v1/catalog/{org_name}/alignment":{"post":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Alignments"],"security":[{"BearerAuth":["user","project","organization"]}],"operationId":"performProjectlessAlignment","x-rails-controller":"catalog#alignment","summary":"Perform an alignment without specifying a project","parameters":[{"$ref":"#/components/parameters/orgNameParam"}],"responses":{"200":{"description":"Alignment info against default catalog","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Alignment"}}}},"401":{"$ref":"#/components/responses/401Error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"catalog_name":{"type":"string"}}}},"multipart/form-data":{"schema":{"type":"object","properties":{"files":{"type":"string","format":"binary"}}}}}}}},"/v1/catalog/{org_name}/{project}/alignment":{"post":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Alignments"],"security":[{"BearerAuth":["user","project","organization"]}],"operationId":"performProjectAlignment","x-rails-controller":"catalog#alignment","summary":"Perform an alignment with a specific project","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"name":"project","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Alignment information against project's catalog","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Alignment"}}}},"401":{"$ref":"#/components/responses/401Error"}}}},"/v1/catalog/{org_name}/{project}/bill-of-materials":{"get":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Projects"],"security":[{"BearerAuth":["user","project","organization"]}],"operationId":"getProjectBillOfMaterials","x-rails-controller":"projects#bill_of_materials","summary":"Get a project's bill of materials","description":"Get the bill of materials for the latest alignment or, optionally, a specific alignment for the project based on the revision or alignment id.\n\nTo request an bill of materials, both a file format and SBOM type must be specified.\n\nThe file format can be specified in several ways:\n  * using the `format` query parameter\n  * using the `Accept` header\n  * using a file extension on the route (e.g. sbom.json to request the JSON file format).\n\nThe SBOM type can be specified using the `sbom_type` query parameter.\n\nSupported combinations:\n  * `format=json, sbom_type=tidelift`: generic Tidelift JSON bill of materials\n    * This format will also be used if both `format` and `sbom_type` are omitted\n  * `format=json`, `sbom_type=cyclonedx`\n  * `format=csv, sbom_type=tidelift`: generic Tidelift CSV bill of materials\n    * This format will also be used if `sbom_type` is omitted\n  * `format=xml`, `sbom_type=cyclonedx`\n  * `format=spdx`, `sbom_type=spdx`\n    * for SPDX, only specifying `format` is necessary, `sbom_type` can be inferred\n\nOlder versions of the API supported using only the `format` query parameter (without also specifying an `sbom_type`).\nThe following mappings are provided to maintain backwards compatibility.\n  * `format=cyclonedx` or `format=cyclone_dx` implies `format=xml` and `sbom_type=cyclonedx`.\n  * `format=spdx` also implies `sbom_type=spdx`\n","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"name":"project","in":"path","required":true,"schema":{"type":"string"}},{"name":"revision","in":"query","required":false,"description":"Revision id of the alignment to lookup","schema":{"type":"string"}},{"name":"alignment_id","in":"query","required":false,"description":"Id of the alignment to lookup","schema":{"type":"string"}},{"name":"format","in":"query","required":false,"schema":{"type":"string","enum":["json","csv","spdx","xml"],"example":"json","description":"Determines the file format the BoM data is formatted in. Defaults to a JSON format. Legacy values are supported here, for example `cyclonedx` will default to `xml`."}},{"name":"sbom_type","in":"query","required":false,"schema":{"type":"string","enum":["tidelift","cyclonedx","spdx"],"description":"Determines the BoM format to use to for the data."}}],"responses":{"200":{"description":"Bill of materials for a given alignment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillOfMaterials"}}}},"401":{"$ref":"#/components/responses/401Error"},"400":{"$ref":"#/components/responses/400Error"},"404":{"description":"Couldn't find scan by revision or latest from default branch, or unable to build BOM from Scan."}}}},"/v1/catalog/{org_name}/{project}/alignments":{"get":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Alignments"],"security":[{"BearerAuth":["user","project","organization"]}],"operationId":"getProjectAlignments","x-rails-controller":"alignments#index","summary":"Get recent saved alignments","description":"Gets a list of all the saved alignments from the previous three weeks","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"name":"project","in":"path","required":true,"schema":{"type":"string"}},{"name":"branch","in":"query","required":false,"schema":{"type":"string"}},{"name":"revision","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of saved alignments","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AlignmentFragment"}}}}},"401":{"$ref":"#/components/responses/401Error"}}}},"/v1/catalog/{org_name}/{project}/requests":{"post":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Catalog Releases"],"security":[{"BearerAuth":["user","project","organization"]}],"operationId":"createCatalogRequest","x-rails-controller":"catalog_requests#create","summary":"Create a new catalog request","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/projectParam"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogRequest"}}}},"responses":{"201":{"description":"requests a single package","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogRequestResponse"}}}},"401":{"$ref":"#/components/responses/401Error"}}}},"/v1/catalog/{org_name}/{project}/request":{"post":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"deprecated":true,"tags":["Catalog Releases"],"description":"This endpoint has been deprecated in favor of POST /v1/catalog/{org_name}/{project}/requests.","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/projectParam"}],"responses":{"201":{"description":"requests a single package","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogRequestResponse"}}}},"401":{"$ref":"#/components/responses/401Error"}}}},"/v1/catalog/{org_name}/{project}/batch_requests":{"post":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Catalog Releases"],"security":[{"BearerAuth":["user","project","organization"]}],"operationId":"createBatchCatalogRequest","x-rails-controller":"catalog_requests#batch_create","summary":"Create a new batch catalog request","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/projectParam"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchRequest"}}}},"responses":{"201":{"description":"requests multiple packages","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchRequestResponse"}}}},"401":{"$ref":"#/components/responses/401Error"},"422":{"$ref":"#/components/responses/422Error"}}}},"/v1/catalog/{org_name}/{project}/batch_request":{"post":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"deprecated":true,"tags":["Catalog Releases"],"description":"This endpoint has been deprecated in favor of POST /v1/catalog/{org_name}/{project}/batch_requests.","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/projectParam"}],"responses":{"201":{"description":"requests multiple packages","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchRequestResponse"}}}},"401":{"$ref":"#/components/responses/401Error"},"422":{"$ref":"#/components/responses/422Error"}}}},"/v1/catalog/{org_name}/{project}/lookup/{platform}/{package_name}":{"get":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"deprecated":true,"tags":["Catalog Releases"],"description":"This endpoint has been deprecated in favor of GET /v1/{org_name}/catalogs/{catalog_name}/releases/lookup.","security":[{"BearerAuth":["user","project","organization"]}],"operationId":"lookupPackageInCatalogDeprecated","x-rails-controller":"catalog#lookup","summary":"Retrieve information on a package in a catalog","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/projectParam"},{"name":"platform","in":"path","required":true,"schema":{"type":"string"}},{"name":"package_name","in":"path","required":true,"schema":{"type":"string"}},{"name":"catalog_name","in":"query","description":"Name of catalog (required if not \"default\")","schema":{"type":"string"}}],"responses":{"200":{"description":"Catalog information for package","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupResponse"}}}},"401":{"$ref":"#/components/responses/401Error"}}}},"/v1/{org_name}/catalogs/{catalog_name}/releases/lookup":{"get":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Catalog Releases"],"security":[{"BearerAuth":["user","project","organization"]}],"operationId":"lookupPackageInCatalog","x-rails-controller":"catalog#lookup","summary":"Retrieve information on a package in a catalog","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/catalogNameParam"},{"name":"package_platform","in":"query","required":true,"schema":{"type":"string"}},{"name":"package_name","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Catalog information for package","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupResponse"}}}},"401":{"$ref":"#/components/responses/401Error"}}},"post":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Catalog Releases"],"security":[{"BearerAuth":["user","project","organization"]}],"operationId":"lookupPackagesInCatalog","x-rails-controller":"catalog#batch_lookup","summary":"Retrieve information on multiple packages in a catalog","requestBody":{"content":{"application/json":{"schema":{"type":"object","title":"Package hashes","properties":{"packages":{"description":"The packages being looked up","type":"array","items":{"$ref":"#/components/schemas/Package"}}},"additionalProperties":false,"required":["packages"]}}}},"responses":{"200":{"description":"Details of packages found from the search and any package names that had no results.","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["packages","missing_results"],"properties":{"packages":{"type":"array","items":{"$ref":"#/components/schemas/LookupResponse"}},"missing_results":{"type":"array","items":{"$ref":"#/components/schemas/PackageWithHint"}}}}}}},"400":{"description":"Request body format incorrect or more than 30 packages requested."},"401":{"$ref":"#/components/responses/401Error"},"403":{"description":"403 Forbidden"}}}},"/v1/{org_name}/groups":{"get":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Groups"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"listGroups","x-rails-controller":"groups#index","summary":"List groups in an organization","parameters":[{"$ref":"#/components/parameters/orgNameParam"}],"responses":{"200":{"description":"List of all groups the user is a member of (if using a user api-key) or all groups in the organization (if using an organization api-key).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupsResponse"}}}}}},"post":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Groups"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"createGroup","x-rails-controller":"groups#create","summary":"Create a new group","parameters":[{"$ref":"#/components/parameters/orgNameParam"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"group_name":{"type":"string"}}}}}},"responses":{"201":{"description":"The created group","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupResponse"}}}},"409":{"description":"The group already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/v1/{org_name}/groups/lookup":{"get":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Groups"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"lookupGroup","x-rails-controller":"groups#lookup","summary":"Look up a group by id, name, or slug","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"name":"q","in":"query","description":"The query string, which is is either a group ID, a full name of a group, or a full slug of a group.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The found group","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupResponse"}}}}}}},"/v1/{org_name}/groups/{group_id}":{"delete":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Groups"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"deleteGroup","x-rails-controller":"groups#destroy","summary":"Delete a group. Does not check to see if the group is being used.","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/groupIdParam"}],"responses":{"200":{"description":"The group is deleted"}}}},"/v1/{org_name}/groups/{group_id}/projects":{"get":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Groups"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"listGroupProjects","x-rails-controller":"groups/projects#index","summary":"List all projects linked to a group","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/groupIdParam"}],"responses":{"200":{"description":"List of all projects linked to the group","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupProjectsResponse"}}}}}},"post":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Groups"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"addGroupProject","x-rails-controller":"groups/projects#create","summary":"Add an existing project to an existing group","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/groupIdParam"},{"name":"project","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of all projects linked to the group","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupProjectsResponse"}}}},"404":{"description":"Requested project not found"}}},"delete":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Groups"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"removeGroupProject","x-rails-controller":"groups/projects#destroy","summary":"Remove an existing project from an existing group","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/groupIdParam"},{"name":"project","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Project successfully removed from group"},"404":{"description":"Requested project not found or not linked to group"}}}},"/v1/{org_name}/groups/{group_id}/users":{"get":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Groups"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"listGroupUsers","x-rails-controller":"groups/users#index","summary":"List all users in a given group","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/groupIdParam"}],"responses":{"200":{"description":"List of all users in the group","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupUsersResponse"}}}}}},"post":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Groups"],"security":[{"BearerAuth":["user"]}],"operationId":"addGroupUser","x-rails-controller":"groups/users#create","summary":"Add user to group","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/groupIdParam"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string"}}}}}},"responses":{"200":{"description":"The updated list of users in the group","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupUsersResponse"}}}},"401":{"$ref":"#/components/responses/404GroupUsers"},"403":{"$ref":"#/components/responses/403GroupUsers"}}},"delete":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Groups"],"security":[{"BearerAuth":["user"]}],"operationId":"deleteGroupUser","x-rails-controller":"groups/users#destroy","summary":"Remove user from group","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/groupIdParam"},{"name":"email","in":"query","description":"Email of the user to remove from the group.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"User successfully removed from group"},"401":{"$ref":"#/components/responses/404GroupUsers"},"403":{"$ref":"#/components/responses/403GroupUsers"}}}},"/v1/{org_name}/catalogs/{catalog_name}/configure-standards/allowed-licenses/add":{"put":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["CatalogStandards","Licenses"],"security":[{"BearerAuth":["user","project","organization"]}],"operationId":"configureAllowedLicensesAdd","x-rails-controller":"catalog_standards/allowed_licenses#add_licenses","summary":"Add SPDX licenses to the catalog's license policies.","description":"Add SPDX licenses to the catalog's license policies.","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/catalogNameParam"},{"name":"policy_status","in":"query","required":true,"description":"Specify how releases should be used by projects aligning to this catalog. - 'approved' or 'denied'","schema":{"type":"string","enum":["approved","denied"]}},{"name":"generate_tasks","in":"query","required":true,"description":"Specify whether tasks should be generated for new violations for the licenses","schema":{"type":"boolean"}},{"name":"licenses","in":"query","required":true,"description":"List of individual licenses in SPDX format to add (note that SPDX expressions are not allowed)","schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"License(s) added to list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicensingCatalogRule"}}}},"400":{"description":"Invalid request, Invalid parameters, Invalid record"},"403":{"description":"403 Forbidden"},"404":{"description":"Catalog not found"}}}},"/v1/{org_name}/catalogs/{catalog_name}/configure-standards/allowed-licenses/remove":{"put":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["CatalogStandards","Licenses"],"security":[{"BearerAuth":["user","project","organization"]}],"operationId":"configureAllowedLicensesRemove","x-rails-controller":"catalog_standards/allowed_licenses#remove_licenses","summary":"Remove SPDX licenses from the catalog's license policies.","description":"Remove SPDX licenses from the catalog's license policies.","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/catalogNameParam"},{"name":"licenses","in":"query","required":true,"description":"List of individual licenses in SPDX format to remove (note that SPDX expressions are not allowed)","schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"License(s) removed from list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicensingCatalogRule"}}}},"400":{"description":"Invalid request, Invalid parameters, Invalid record"},"403":{"description":"403 Forbidden"},"404":{"description":"Catalog not found"}}}},"/v1/{org_name}/catalogs/{catalog_name}/configure-standards/allowed-licenses":{"get":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["CatalogStandards","Licenses"],"security":[{"BearerAuth":["user","project","organization"]}],"operationId":"showAllowedLicenses","x-rails-controller":"catalog_standards/allowed_licenses#show","summary":"Show the catalog's license policies","description":"Show the catalog's license policies.","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/catalogNameParam"}],"responses":{"200":{"description":"Licenses in this catalog's license policies","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LicensingCatalogRule"}}}},"403":{"description":"403 Forbidden"},"404":{"description":"Catalog not found"}}}},"/v1/{org_name}/licenses/{package_platform}/{package_name}":{"post":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Licenses"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"createPackageLicense","x-rails-controller":"licenses#create","summary":"Creates or updates a researched license for a given package.","description":"Creates or updates a researched license for a given package.","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/packagePlatformParam"},{"$ref":"#/components/parameters/packageNamePathParam"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLicenseRequest"}}}},"responses":{"200":{"description":"Package license successfully created or updated for organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLicenseResponse"}}}},"400":{"description":"One of the required parameters is missing"},"403":{"description":"The api-key used is not authorized to perform the action"},"404":{"description":"The package could not be found"},"422":{"description":"The license is invalid"}}},"delete":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Licenses"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"deletePackageLicense","x-rails-controller":"licenses#delete","summary":"Deletes a researched license for a given package.","description":"Creates or updates a researched license for a given package.","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/packagePlatformParam"},{"$ref":"#/components/parameters/packageNamePathParam"}],"responses":{"204":{"description":"Package license successfully deleted from organization"},"400":{"description":"One of the required parameters is missing"},"403":{"description":"The api-key used is not authorized to perform the action"},"404":{"description":"The package or license was not found"}}}},"/v1/{org_name}/licenses/{package_platform}/{package_name}/{version}":{"post":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Licenses"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"createReleaseLicense","x-rails-controller":"licenses#create","summary":"Creates or updates a researched license for a given release.","description":"Creates or updates a researched license for a given release.","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/packagePlatformParam"},{"$ref":"#/components/parameters/packageNamePathParam"},{"$ref":"#/components/parameters/versionPathParam"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLicenseRequest"}}}},"responses":{"200":{"description":"Release license successfully created or updated for organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLicenseResponse"}}}},"400":{"description":"One of the required parameters is missing"},"403":{"description":"The api-key used is not authorized to perform the action"},"404":{"description":"The package or the release could not be found"},"422":{"description":"The license is invalid"}}},"delete":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Licenses"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"deleteReleaseLicense","x-rails-controller":"licenses#delete","summary":"Deletes a researched license for a given release.","description":"Creates or updates a researched license for a given release.","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"$ref":"#/components/parameters/packagePlatformParam"},{"$ref":"#/components/parameters/packageNamePathParam"},{"$ref":"#/components/parameters/versionPathParam"}],"responses":{"204":{"description":"Package license successfully deleted from organization"},"400":{"description":"One of the required parameters is missing"},"403":{"description":"The api-key used is not authorized to perform the action"},"404":{"description":"The package, release, or license was not found"}}}},"/v1/packages":{"get":{"x-tidelift-api-meta":{"product-area":"intelligence-api","access-level":"small","visibility":"public"},"tags":["Packages"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"getPackages","x-rails-controller":"packages#index","summary":"Gets a paginated list of packages with at least one filter applied","description":"Gets a paginated list of packages with at least one filter applied","parameters":[{"name":"lifted","description":"Filter parameter. Filters packages to only those that are lifted or non-lifted.","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"source_repository_url","description":"Filter parameter. Filters packages to only those associated with the url-encoded source repository url.","in":"query","required":false,"schema":{"type":"string"}},{"name":"searchable_name","description":"Filter parameter. Filters packages to those whose name contains the given string.","in":"query","required":false,"schema":{"type":"string"}},{"name":"platform","description":"Filter parameter. Filters packages to those matching the given platform.","in":"query","required":false,"schema":{"type":"string"}},{"$ref":"#/components/parameters/pagePaginationParam"},{"$ref":"#/components/parameters/perPagePaginationParam"}],"responses":{"200":{"description":"The paginated list of packages","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginationEnvelope"},{"$ref":"#/components/schemas/PackageList"}]}}}},"400":{"description":"Packages must be filtered."},"401":{"$ref":"#/components/responses/401Error"},"404":{"description":"Not Found - SourceRepository"}}}},"/v1/packages/lookup":{"post":{"x-tidelift-api-meta":{"product-area":"intelligence-api","access-level":"small","visibility":"public"},"tags":["Packages"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"lookup","x-rails-controller":"packages#lookup","summary":"Show details of a set of packages.","description":"Show details of a set of packages","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","title":"Package hashes","properties":{"packages":{"description":"The packages being looked up","type":"array","items":{"$ref":"#/components/schemas/Package"}}},"additionalProperties":false,"required":["packages"]},{"type":"object","title":"PURLs","properties":{"purls":{"description":"Array of properly formatted PURLs","type":"array","items":{"type":"string","example":"pkg:pypi/urllib3"}}},"additionalProperties":false,"required":["purls"]}]}}}},"responses":{"200":{"description":"Details of packages found from the search and any package names that had no results.","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["packages","missing_results"],"properties":{"packages":{"type":"array","items":{"$ref":"#/components/schemas/PackageDetail"}},"missing_results":{"type":"array","items":{"$ref":"#/components/schemas/PackageWithHint"}}}}}}},"400":{"description":"Request body format incorrect or more than 1000 packages requested."},"401":{"$ref":"#/components/responses/401Error"},"403":{"description":"403 Forbidden"}}}},"/v1/packages/eol-packages":{"post":{"x-tidelift-api-meta":{"product-area":"intelligence-api","access-level":"small","visibility":"public"},"tags":["Packages"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"eol_packages","x-rails-controller":"packages#eol_packages","summary":"Show end-of-life details for a set of packages.","description":"Show end-of-life details for a set of packages","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","title":"Package hashes","properties":{"packages":{"description":"The packages being looked up","type":"array","items":{"$ref":"#/components/schemas/Package"}}},"additionalProperties":false,"required":["packages"]},{"type":"object","title":"PURLs","properties":{"purls":{"description":"Array of properly formatted PURLs","type":"array","items":{"type":"string","example":"pkg:pypi/urllib3"}}},"additionalProperties":false,"required":["purls"]}]}}}},"responses":{"200":{"description":"Details of packages found from the search and any package names that had no results.","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["packages","missing_results"],"properties":{"packages":{"type":"array","items":{"type":"object","additionalProperties":false,"properties":{"platform":{"type":"string"},"name":{"type":"string"},"purl":{"type":"string"},"package_is_not_eol":{"$ref":"#/components/schemas/PackageCheckStatus"},"package_eol_indicators":{"type":"object","additionalProperties":false,"properties":{"eol_reference_found":{"type":"boolean"},"effective_on":{"type":"string","format":"date","nullable":true},"reference_url":{"type":"string","nullable":true},"package_renamed_to":{"type":"array","items":{"type":"string"}},"no_planned_maintenance":{"type":"boolean"},"reason":{"type":"string"}}},"maintenance_plan":{"type":"object","additionalProperties":false,"properties":{"plan_type":{"type":"string"},"major_version_count":{"type":"integer","nullable":true},"minor_version_count":{"type":"integer","nullable":true},"external_url":{"type":"string","nullable":true}}}}}},"missing_results":{"type":"array","items":{"$ref":"#/components/schemas/PackageWithHint"}}}}}}},"400":{"description":"Request body format incorrect or more than 1000 packages requested."},"401":{"$ref":"#/components/responses/401Error"},"403":{"description":"403 Forbidden"}}}},"/v1/packages/eol-releases":{"post":{"x-tidelift-api-meta":{"product-area":"intelligence-api","access-level":"small","visibility":"public"},"tags":["Releases"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"eol_releases","x-rails-controller":"releases#eol_releases","summary":"Show end-of-life details for a set of releases.","description":"Show end-of-life details for a set of releases","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","title":"Release hashes","properties":{"releases":{"description":"The releases being looked up.","type":"array","items":{"$ref":"#/components/schemas/Release"}}},"additionalProperties":false,"required":["releases"]},{"type":"object","title":"PURLs","properties":{"purls":{"description":"Array of properly formatted PURLs","type":"array","items":{"type":"string","example":"pkg:pypi/urllib3@1.3.1"}}},"additionalProperties":false,"required":["purls"]}]}}}},"responses":{"200":{"description":"Details of releases found from the search and any package names that had no results.","content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["releases","missing_results"],"properties":{"releases":{"type":"array","items":{"type":"object","additionalProperties":false,"properties":{"platform":{"type":"string"},"name":{"type":"string"},"version":{"type":"string"},"purl":{"type":"string"},"package_is_not_eol":{"$ref":"#/components/schemas/PackageCheckStatus"},"package_eol_indicators":{"type":"object","additionalProperties":false,"properties":{"eol_reference_found":{"type":"boolean"},"effective_on":{"type":"string","format":"date","nullable":true},"reference_url":{"type":"string","nullable":true},"package_renamed_to":{"type":"array","items":{"type":"string"}},"no_planned_maintenance":{"type":"boolean"},"reason":{"type":"string"}}},"maintenance_plan":{"type":"object","nullable":true,"additionalProperties":false,"properties":{"plan_type":{"type":"string"},"major_version_count":{"type":"integer","nullable":true},"minor_version_count":{"type":"integer","nullable":true},"external_url":{"type":"string","nullable":true}}},"release_is_not_eol":{"$ref":"#/components/schemas/PackageCheckStatus"},"release_is_not_eol_explanation":{"type":"string"}}}},"missing_results":{"type":"array","items":{"$ref":"#/components/schemas/Release"}}}}}}},"400":{"description":"Request body format incorrect or more than 1000 packages requested."},"401":{"$ref":"#/components/responses/401Error"},"403":{"description":"403 Forbidden"}}}},"/v1/packages/updates-since":{"get":{"x-tidelift-api-meta":{"product-area":"intelligence-api","access-level":"small","visibility":"public"},"tags":["Packages"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"updates_since","x-rails-controller":"packages#updates_since","summary":"Show packages that have updated data since the given datetime.","description":"Show packages that have updated data since the given datetime.","parameters":[{"$ref":"#/components/parameters/pagePaginationParam"},{"$ref":"#/components/parameters/perPagePaginationParam"},{"in":"query","name":"date","schema":{"type":"string","format":"datetime"},"required":true,"description":"The datetime to search for changes on or after"}],"responses":{"200":{"description":"Package platforms and names that have been updated since the passed date.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginationEnvelope"},{"type":"object","additionalProperties":false,"required":["results"],"properties":{"results":{"type":"array","items":{"type":"object","required":["platform","name","purl","last_changed_on"],"properties":{"platform":{"type":"string"},"name":{"type":"string"},"purl":{"type":"string"},"last_changed_on":{"type":"string","format":"datetime","description":"When the package record last was updated by new information"}}}}}}]}}}},"401":{"$ref":"#/components/responses/401Error"},"403":{"description":"403 Forbidden"}}}},"/v1/packages/{package_platform}/{package_name}":{"get":{"x-tidelift-api-meta":{"product-area":"intelligence-api","access-level":"small","visibility":"public"},"tags":["Packages"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"showPackage","x-rails-controller":"packages#show","summary":"Show details of a specific package.","description":"Show details of a specific package","parameters":[{"$ref":"#/components/parameters/packagePlatformParam"},{"$ref":"#/components/parameters/packageNameParam"}],"responses":{"200":{"description":"Details of the package","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PackageDetail"}}}},"400":{"description":"Parameters specified are not correct, or the package is from an unsupported platform.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"401":{"$ref":"#/components/responses/401Error"},"403":{"description":"403 Forbidden"},"404":{"description":"Package not found"}}}},"/v1/releases/lookup":{"post":{"x-tidelift-api-meta":{"product-area":"intelligence-api","access-level":"small","visibility":"public"},"tags":["Releases"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"lookupReleases","x-rails-controller":"releases#lookup","summary":"Lookup details for a set of package releases.","description":"Lookup details for a set of package releases","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object","title":"Release hashes","properties":{"releases":{"description":"The releases being looked up.","type":"array","items":{"$ref":"#/components/schemas/Release"}}},"additionalProperties":false,"required":["releases"]},{"type":"object","title":"PURLs","properties":{"purls":{"description":"Array of properly formatted PURLs","type":"array","items":{"type":"string","example":"pkg:pypi/urllib3@1.3.1"}}},"additionalProperties":false,"required":["purls"]}]}}}},"responses":{"200":{"description":"Details of the package releases found","content":{"application/json":{"schema":{"properties":{"releases":{"allOf":[{"$ref":"#/components/schemas/ReleaseDetail"},{"type":"object","properties":{"lookup_name":{"type":"string","description":"The package name passed into the API that matches this Release"}}}]},"missing_releases":{"type":"array","items":{"$ref":"#/components/schemas/Release"}}}}}}},"400":{"description":"Request body format incorrect or more than 1000 releases requested."},"401":{"$ref":"#/components/responses/401Error"},"403":{"description":"403 Forbidden"}}}},"/v1/packages/{package_platform}/{package_name}/releases/{release_version}":{"get":{"x-tidelift-api-meta":{"product-area":"intelligence-api","access-level":"small","visibility":"public"},"tags":["Releases"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"showRelease","x-rails-controller":"releases#show","summary":"Show details of a specific release of a package.","description":"Show details of a specific release of a package","parameters":[{"$ref":"#/components/parameters/packagePlatformParam"},{"$ref":"#/components/parameters/packageNameParam"},{"$ref":"#/components/parameters/releaseVersionParam"}],"responses":{"200":{"description":"Details of the package release","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleaseDetail"}}}},"400":{"description":"Parameters specified are not correct, or the release is from an unsupported platform.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"401":{"$ref":"#/components/responses/401Error"},"403":{"description":"403 Forbidden"},"404":{"description":"Release or Package not found"}}}},"/v1/packages/{package_platform}/{package_name}/releases/{release_version}/dependencies":{"get":{"x-tidelift-api-meta":{"product-area":"intelligence-api","access-level":"small","visibility":"public"},"tags":["Releases"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"releaseDependencies","x-rails-controller":"releases#release_dependencies","summary":"Show the direct dependencies of the release.","description":"Show the direct dependencies of the release and the requirement version string for each","parameters":[{"$ref":"#/components/parameters/packagePlatformParam"},{"$ref":"#/components/parameters/packageNameParam"},{"$ref":"#/components/parameters/releaseVersionParam"},{"$ref":"#/components/parameters/pagePaginationParam"},{"$ref":"#/components/parameters/perPagePaginationParam"}],"responses":{"200":{"description":"Paginated list of dependencies and their required version","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginationEnvelope"},{"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/ReleaseRequirement"}}}}]}}}},"202":{"description":"Your request to show the direct dependencies of the release is being processed"},"400":{"description":"Parameters specified are not correct, or the release is from an unsupported platform.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"403":{"description":"403 Forbidden"},"404":{"description":"Release or Package not found"}}}},"/v1/packages/{package_platform}/{package_name}/releases/{release_version}/sbom":{"get":{"x-tidelift-api-meta":{"product-area":"intelligence-api","access-level":"small","visibility":"public"},"tags":["Releases"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"releaseSbom","x-rails-controller":"releases#sbom","summary":"Show the SBOM of the release.","description":"Show the SBOM of an upstream release in a given format\n  * [SPDX spec](https://spdx.github.io/spdx-spec/v2.2.2/document-creation-information/)\n  * [CycloneDX spec](https://cyclonedx.org/specification/overview/)\n\nTo request an SBOM, both a file format and SBOM type must be specified.\n\nThe file format can be specified in several ways:\n  * using the `format` query parameter\n  * using the `Accept` header\n  * using a file extension on the route (e.g. sbom.json to request the JSON file format).\n\nThe SBOM type can be specified using the `sbom_type` query parameter.\n\nSupported combinations:\n  * `sbom_type=cyclonedx`, `format=xml`\n  * `sbom_type=cyclonedx`, `format=json`\n  * `sbom_type=spdx`, `format=spdx`\n    * for SPDX, only specifying `format` is necessary, `sbom_type` can be inferred\n\nOlder versions of the API supported an `sbom_format` query parameter (without specifying both `sbom_type` and\nformat). The following mappings are provided to maintain backwards compatibility.\n  * `sbom_format=cyclonedx` implies `sbom_type=cyclonedx` and `format=xml`\n  * `sbom_format=spdx` implies `sbom_type=spdx` and `format=spdx`\n","parameters":[{"$ref":"#/components/parameters/packagePlatformParam"},{"$ref":"#/components/parameters/packageNameParam"},{"$ref":"#/components/parameters/releaseVersionParam"},{"$ref":"#/components/parameters/sbomTypeParam"}],"responses":{"200":{"description":"SBOM of the direct and transitive dependencies of the release","content":{"text/xml":{"schema":{"$ref":"#/components/schemas/CycloneDxXml"}},"application/json":{"schema":{"$ref":"#/components/schemas/CycloneDxJson"}},"text/plain":{"schema":{"type":"string","example":"SPDXVersion: SPDX-2.0\nSPDXID: SPDXRef-DOCUMENT\nDataLicense: CC0-1.0\nDocumentName: \u003cpackageName\u003e\nDocumentNamespace: https://tidelift.com\nDocumentComment: \u003ctext\u003eThis document was created using Tidelift\u003c/text\u003e\n\nCreator: Tool: Tidelift\nCreator: Organization: Tidelift\n\n(truncated)\n"}}}},"400":{"description":"Unknown format, or the release is from an unsupported platform"},"403":{"description":"403 Forbidden"},"404":{"description":"Release or Package not found"}}}},"/v1/packages/{package_platform}/{package_name}/attestation-statement":{"get":{"x-tidelift-api-meta":{"product-area":"intelligence-api","access-level":"small","visibility":"public"},"tags":["Packages"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"getPackageAttestationStatement","x-rails-controller":"packages#attestation_statement","summary":"Show the attestation statement for a specific package.","description":"Show the attestation statement for a specific package","parameters":[{"$ref":"#/components/parameters/packagePlatformParam"},{"$ref":"#/components/parameters/packageNameParam"}],"responses":{"200":{"description":"Details of the package","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PackageAttestationStatement"}}}},"400":{"description":"Parameters specified are not correct, or the package is from an unsupported platform.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"401":{"$ref":"#/components/responses/401Error"},"403":{"description":"403 Forbidden"},"404":{"description":"Package not found"}}}},"/v1/vulnerabilities/{vulnerability_id}":{"get":{"x-tidelift-api-meta":{"product-area":"intelligence-api","access-level":"small","visibility":"public"},"tags":["Vulnerabilities"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"getVulnerability","x-rails-controller":"vulnerabilities#show","summary":"Get a vulnerability","description":"Get a vulnerability, along with any recommendation","parameters":[{"$ref":"#/components/parameters/vulnerabilityIdParam"}],"responses":{"200":{"description":"The vulnerability with recommendations.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Vulnerability"}}}},"404":{"$ref":"#/components/responses/404Error"}}}},"/v1/vulnerabilities/{vulnerability_id}/affected_releases":{"get":{"x-tidelift-api-meta":{"product-area":"intelligence-api","access-level":"small","visibility":"public"},"tags":["Vulnerabilities"],"security":[{"BearerAuth":["user","organization"]}],"operationId":"getVulnerabilityAffectedReleases","x-rails-controller":"vulnerabilities#affected_releases","summary":"Get affected releases for a vulnerability","description":"Get affected releases for a vulnerability","parameters":[{"$ref":"#/components/parameters/vulnerabilityIdParam"}],"responses":{"200":{"description":"The vulnerability's affected releases.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginationEnvelope"},{"type":"object","additionalProperties":false,"required":["results"],"properties":{"results":{"type":"array","items":{"type":"object","additionalProperties":false,"required":["platform","name","version","purl"],"properties":{"platform":{"type":"string"},"name":{"type":"string"},"purl":{"type":"string"},"version":{"type":"string","nullable":true}}}}}}]}}}},"404":{"$ref":"#/components/responses/404Error"}}}},"/v1/{org_name}/projects/{project}/alignments/{revision}/status":{"get":{"x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Alignments"],"security":[{"BearerAuth":["user","project","organization"]}],"operationId":"getProjectAlignmentStatus","x-rails-controller":"alignments#status","summary":"Get a saved alignment with additional information","description":"The alignment will also include information on violations per dependency.\n","parameters":[{"$ref":"#/components/parameters/orgNameParam"},{"name":"project","description":"The name of the project. The external identifier will not work here.","in":"path","required":true,"schema":{"type":"string"}},{"name":"revision","description":"The `revision` of the alignment.","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Detailed results and status of saved alignment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlignmentStatus"}}}},"403":{"description":"403 Forbidden"},"404":{"description":"404 Scan Not Found"}}}},"/v1/{org_name}/users":{"get":{"x-rails-controller":"organization#users","summary":"List all users for an organization","operationId":"listUsersForOrg","x-tidelift-api-meta":{"product-area":"management-api","access-level":"small","visibility":"public"},"tags":["Users"],"security":[{"BearerAuth":["user"]}],"parameters":[{"$ref":"#/components/parameters/orgNameParam"}],"responses":{"200":{"description":"A list of users in the organization","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["name","email","role"],"properties":{"name":{"type":"string"},"email":{"type":"string"},"role":{"type":"string"}}}}}}},"403":{"$ref":"#/components/responses/403GroupUsers"},"404":{"$ref":"#/components/responses/404Error"}}}}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer"}},"responses":{"401Error":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"400Error":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404Error":{"description":"Record Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404GroupUsers":{"description":"The user doesn't exist within the organization","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"403GroupUsers":{"description":"The user is not an admin of the organization or doesn't belong to the organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"422Error":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}},"parameters":{"orgNameParam":{"in":"path","name":"org_name","required":true,"schema":{"type":"string","example":"My-Company"},"description":"The name of the Organization."},"catalogNameParam":{"in":"path","name":"catalog_name","required":true,"schema":{"type":"string","example":"default"},"description":"The name of the Catalog."},"catalogBlockedItemIdParam":{"in":"path","name":"catalog_blocked_item_id","required":true,"schema":{"type":"string","example":"1992c539-11f0-4f9a-a668-da54e77726a2"},"description":"The id of the catalog blocked item to perform the action on."},"groupIdParam":{"in":"path","name":"group_id","required":true,"schema":{"type":"string","example":"1992c539-11f0-4f9a-a668-da54e77726a2"},"description":"The id of the group to perform the action on."},"projectParam":{"in":"path","name":"project","required":true,"schema":{"type":"string"},"description":"The name of the Project."},"violationIdParam":{"in":"path","name":"violation_id","required":true,"schema":{"type":"string","example":"1992c539-11f0-4f9a-a668-da54e77726a2"},"description":"The id of the violation to perform the action on."},"violationStatusOverrideIdParam":{"in":"path","name":"violation_status_override_id","required":true,"schema":{"type":"string","example":"1992c539-11f0-4f9a-a668-da54e77726a2"},"description":"the ID of the violation status override to perform the action on."},"packageNamePathParam":{"name":"package_name","in":"path","description":"The name of the package to change the license of.","required":true,"schema":{"type":"string"}},"versionPathParam":{"name":"version","in":"path","description":"The version of the package to change the license of.","required":true,"schema":{"type":"string"}},"packagePlatformParam":{"in":"path","name":"package_platform","required":true,"schema":{"type":"string","example":"rubygems"},"description":"The platform of the package."},"packageNameParam":{"in":"path","name":"package_name","required":true,"schema":{"type":"string","example":"rails"},"description":"The name of the package to look up."},"releaseVersionParam":{"in":"path","name":"release_version","required":true,"schema":{"type":"string","example":"1.2.3"},"description":"The version of the package to look up."},"reportTypeParam":{"in":"path","name":"report_type","required":true,"description":"Type of report\n\n - [all_projects_compliance (compliance of projects to catalog standards)](https://support.tidelift.com/hc/en-us/articles/24885171849236)\n - [all_projects_package_quality (Tidelift recommendations by package)](https://support.tidelift.com/hc/en-us/articles/24971666742932)\n - [all_projects_violations (All projects violations)](https://support.tidelift.com/hc/en-us/articles/24883174701332)\n - catalog_activity_audit (Catalog Activity)\n - eol_impact (End of life)\n - license_attribution (License attribution)\n - release_usage (Catalog-wide open source use)\n","schema":{"$ref":"#/components/schemas/ReportTypes"}},"sbomTypeParam":{"in":"query","name":"sbom_type","schema":{"type":"string","enum":["cyclonedx","spdx"]},"description":"The type the SBOM to generate. Required, unless older sbom_format parameter is passed."},"pagePaginationParam":{"name":"page","in":"query","required":false,"schema":{"type":"integer"}},"perPagePaginationParam":{"name":"per_page","in":"query","required":false,"schema":{"type":"integer"}},"vulnerabilityIdParam":{"in":"path","name":"vulnerability_id","required":true,"schema":{"type":"string","example":["CVE-2021-44228"],"description":"The id of the vulnerability."}}},"schemas":{"GroupResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"repository_count":{"type":"integer","deprecated":true,"description":"Deprecated in favor of project_count."},"project_count":{"type":"integer"},"user_count":{"type":"integer"},"conditional_exception_count":{"type":"integer"}}},"GroupsResponse":{"type":"array","items":{"$ref":"#/components/schemas/GroupResponse"}},"GroupProjectResponse":{"type":"object","properties":{"uuid":{"type":"string"},"name":{"type":"string"}}},"GroupProjectsResponse":{"type":"array","items":{"$ref":"#/components/schemas/GroupProjectResponse"}},"GroupUserResponse":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"}}},"GroupUsersResponse":{"type":"array","items":{"$ref":"#/components/schemas/GroupUserResponse"}},"OrganizationWithCatalogs":{"type":"object","additionalProperties":false,"required":["name","roles","catalogs"],"properties":{"name":{"type":"string","description":"Organization name"},"roles":{"type":"array","nullable":true,"items":{"description":"role","type":"string"}},"catalogs":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/CatalogSummary"},{"type":"object","additionalProperties":false,"required":["roles"],"properties":{"roles":{"type":"array","nullable":true,"items":{"description":"role","type":"string"}}}}]}}}},"CatalogSummary":{"type":"object","additionalProperties":false,"required":["display_name","name","release_count"],"properties":{"display_name":{"type":"string"},"name":{"type":"string"},"release_count":{"type":"integer","format":"int32"}}},"Alignment":{"type":"object","additionalProperties":false,"required":["_meta","organization","project","files","alignment_pct","unapproved","alternatives","upcoming_denials","approved","requested","denied","catalog","baseline_alignment","actions"],"properties":{"_meta":{"type":"object","properties":{"version":{"type":"string"}}},"organization":{"type":"string","description":"Name of the Team that owns the alignment."},"team":{"type":"string","description":"Name of the Team that owns the alignment."},"files":{"type":"string","description":"File names used in the alignment analysis."},"alignment_pct":{"type":"number","format":"float","description":"Percentage of Package releases that are aligned to the Catalog's standards."},"unapproved":{"description":"Package releases in the alignment that are not included in the catalog and have no status.","type":"array","nullable":true,"items":{"$ref":"#/components/schemas/AlignmentRelease"}},"alternatives":{"description":"List of alternative Package releases that could be used to bring the project closer to full alignment.","type":"array","nullable":true,"items":{"type":"object","properties":{"name":{"type":"string","description":"The package name."},"platform":{"type":"string","description":"The package platform."},"in_use":{"type":"array","description":"List of releases for this package that are used in other projects.","items":{"type":"string","nullable":true}},"not_in_use":{"type":"array","description":"List of releases for this package that are in the catalog but not used in other projects.","items":{"type":"string"}}}}},"upcoming_denials":{"description":"Package releases that are configured to be out of alignment with the Catalog's standards in the future.","type":"array","nullable":true,"items":{"type":"object","properties":{"name":{"type":"string","description":"The name of the package."},"platform":{"type":"string","description":"The platform of the package."},"version":{"type":"string","description":"The version of the release."},"deny_at":{"type":"string","description":"The date when the release will no longer be acceptable to be used."},"reason":{"type":"string","description":"The reason why the release will no longer be allowed or why the decision has been delayed."},"highest_approved_version":{"type":"string","nullable":true,"description":"The latest version of this package that is allowed for use."}}}},"approved":{"description":"Package releases in the alignment that are approved for use.","type":"array","nullable":true,"items":{"$ref":"#/components/schemas/AlignmentRelease"}},"requested":{"description":"Package releases in the alignment that have been requested but have not been analyzed yet.","type":"array","nullable":true,"items":{"$ref":"#/components/schemas/AlignmentRelease"}},"denied":{"description":"Package releases in the alignment that are not approved for use.","type":"array","nullable":true,"items":{"$ref":"#/components/schemas/AlignmentRelease"}},"no_new_introduction":{"description":"Package releases in the alignment that are approved for use, but are not allowed to introduce any further issues.","type":"array","nullable":true,"items":{"$ref":"#/components/schemas/AlignmentRelease"}},"catalog":{"type":"object","description":"The catalog used to determine the alignment status of each package release.","additionalProperties":false,"properties":{"id":{"type":"string"},"name":{"type":"string"},"display_name":{"type":"string"},"catalog_standards":{"type":"array","items":{"type":"object","additionalProperties":false,"required":["slug","name","description","enabled"],"properties":{"slug":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"enabled":{"type":"boolean"}}}}}},"project":{"type":"string","description":"Name of the project used for the alignment.","nullable":true},"baseline_alignment":{"description":"A previous alignment that can be used to compare data between. This can be useful to spot regressions that have been introduced since the baseline alignment was run.","type":"object","additionalProperties":false,"nullable":true,"required":["number","date"],"properties":{"number":{"type":"integer","description":"The ordered alignment number within the project."},"date":{"type":"string","format":"date-time","description":"When the alignment was run."}}},"actions":{"type":"array","items":{"type":"object","additionalProperties":false,"required":["action_description","action","violations"],"properties":{"action_description":{"type":"string"},"action":{"type":"object","properties":{"package_name":{"type":"string"},"dependency_source":{"type":"string"},"current_version":{"type":"string"},"suggested_version":{"type":"string"}}},"violations":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"}}}}}}}}},"AlignmentRelease":{"type":"object","properties":{"id":{"type":"integer"},"latest_release_number":{"type":"string","nullable":true,"description":"Version of the package that is considered the most recent release."},"license_normalized":{"type":"boolean","nullable":true,"description":"If license data has been normalized to SPDX values from an upstream source."},"license_set_by_admin":{"type":"boolean","nullable":true,"description":"If license data has been set by a Tidelift researcher."},"licenses":{"type":"string","nullable":true,"description":"License expression for this release."},"name":{"type":"string","description":"The package name."},"platform":{"type":"string","description":"The package platform."},"project_license":{"type":"string","nullable":true,"description":"The license data tied to the package."},"repository_license":{"type":"string","nullable":true,"description":"The license data tied to the package's source repository."},"type":{"type":"string","nullable":true},"unknown":{"type":"boolean","nullable":true,"description":"If Tidelift does not have any upstream data for this package."},"direct":{"type":"boolean","description":"If the package is referenced directly by the project dependency manifest."},"resolved_version":{"type":"string","description":"Real release version that the manifest resolved to."},"requirement":{"type":"string","description":"Raw requirement text included in the project manifest file."},"lockfile_requirement":{"type":"string","nullable":true,"description":"Raw requirement text included in the project's manifest lockfile."},"original_license":{"type":"string","nullable":true,"description":"The license found using only upstream source data."},"version":{"type":"string","description":"Version of the release used in the alignment analysis."},"status":{"type":"string","nullable":true,"description":"Status of this release within the alignment results."}}},"AlignmentStatus":{"allOf":[{"$ref":"#/components/schemas/Alignment"},{"type":"object","required":["details_url","status","revision","external_identifier","alignment_counts","production_alignment_counts"],"additionalProperties":false,"properties":{"error":{"$ref":"#/components/schemas/ScanLog"},"warnings":{"type":"array","items":{"$ref":"#/components/schemas/ScanLog"}},"actions":{"type":"array","items":{"type":"object","additionalProperties":false,"required":["action_description","action","violations"],"properties":{"action_description":{"type":"string"},"action":{"type":"object","properties":{"package_name":{"type":"string"},"dependency_source":{"type":"string"},"current_version":{"type":"string"},"suggested_version":{"type":"string"}}},"violations":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"}}}}}}},"details_url":{"type":"string","description":"URL to view more alignment details in the Tidelift UI."},"status":{"type":"string","nullable":true,"description":"Status to indicate if the alignment has finished analyzing or is still running.","enum":["scheduled","running","error","failure","success"]},"revision":{"type":"string","description":"Revision of the project that was used for alignment analysis."},"external_identifier":{"type":"string","description":"The external identifier for the scan, if set","nullable":true},"alignment_counts":{"description":"Counts of releases that fall within each bucket within the alignment results.","type":"object","properties":{"approved":{"type":"integer","description":"Number of releases with an approved status."},"denied":{"type":"integer","description":"Number of releases with a denied status."},"requested":{"type":"integer","description":"Number of releases that have been requested to the catalog, but do not have a status yet."},"unapproved":{"type":"integer","description":"Number of releases without any status."},"newly_introduced":{"type":"integer","description":"Number of releases with a new issue from the baseline alignment."},"no_new_introduction":{"type":"integer","description":"Number of releases that are approved for use, but are not allowed to add any new issues to the project."}}},"production_alignment_counts":{"description":"Counts of releases that are likely deployed with the project code that fall within each bucket within the alignment results.","type":"object","properties":{"approved":{"type":"integer","description":"Number of releases with an approved status."},"denied":{"type":"integer","description":"Number of releases with a denied status."},"requested":{"type":"integer","description":"Number of releases that have been requested to the catalog, but do not have a status yet."},"unapproved":{"type":"integer","description":"Number of releases without any status."},"newly_introduced":{"type":"integer","description":"Number of releases with a new issue from the baseline alignment."},"no_new_introduction":{"type":"integer","description":"Number of releases that are approved for use, but are not allowed to add any new issues to the project."}}}}}]},"ViolationCommon":{"type":"object","required":["catalog_standard","violation_id","title"],"additionalProperties":false,"properties":{"catalog_standard":{"type":"string"},"violation_id":{"type":"string"},"title":{"type":"string"},"package_name":{"type":"string"},"package_platform":{"type":"string"},"version":{"type":"string"},"task_id":{"type":"string","nullable":true}}},"UpToDateViolation":{"type":"object","allOf":[{"$ref":"#/components/schemas/ViolationCommon"},{"type":"object","required":["up_to_date"],"properties":{"up_to_date":{"type":"object","additionalProperties":false,"required":["release_date","days_too_old"],"properties":{"release_date":{"type":"string","nullable":true},"days_too_old":{"type":"string","nullable":true}}}}}]},"EOLPackagesViolation":{"type":"object","allOf":[{"$ref":"#/components/schemas/ViolationCommon"},{"type":"object","required":["eol_package"],"properties":{"eol_package":{"type":"object","additionalProperties":true,"required":["reason","description"],"properties":{"reason":{"type":"string","nullable":true},"description":{"type":"string","nullable":true}}}}}]},"DeprecationViolation":{"type":"object","allOf":[{"$ref":"#/components/schemas/ViolationCommon"},{"type":"object","required":["deprecation"],"properties":{"deprecation":{"type":"object","additionalProperties":false,"required":["deprecated_at","reason","package_to_use_instead"],"properties":{"deprecated_at":{"type":"string","nullable":true},"reason":{"type":"string","nullable":true},"package_to_use_instead":{"type":"object","additionalProperties":false,"nullable":true,"required":["platform","name"],"properties":{"platform":{"type":"string"},"name":{"type":"string"}}}}}}}]},"VulnerabilitiesViolation":{"type":"object","allOf":[{"$ref":"#/components/schemas/ViolationCommon"},{"type":"object","required":["vulnerability"],"properties":{"vulnerability":{"type":"object","additionalProperties":false,"required":["id","severity","description","date","url","severity_rating","epss_percentile","epss_probability","epss_score","known_exploited","lifter_recommendations"],"properties":{"id":{"type":"string","nullable":true},"severity":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"date":{"type":"string"},"url":{"type":"string","nullable":true},"severity_rating":{"type":"string","nullable":true},"epss_percentile":{"type":"string","nullable":true},"epss_probability":{"type":"string","nullable":true},"epss_score":{"type":"string","nullable":true},"known_exploited":{"type":"boolean","nullable":true},"lifter_recommendations":{"type":"array","items":{"$ref":"#/components/schemas/LifterRecommendationFragment"}}}}}}]},"AllowedLicensesViolation":{"type":"object","allOf":[{"$ref":"#/components/schemas/ViolationCommon"},{"type":"object","additionalProperties":false,"required":["license"],"properties":{"license":{"type":"string"}}}]},"IdentifiedLicensesViolation":{"type":"object","additionalProperties":false,"allOf":[{"$ref":"#/components/schemas/ViolationCommon"},{"type":"object","required":["original_license","repository_url"],"properties":{"original_license":{"type":"
[...]
